@charset "UTF-8";

body {
    background: rgb(31, 99, 122);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;

}
header {
    text-align: center;
    color: white;
}

section {
    background: white;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.438);


}
div {
    text-align: auto;
    padding: 8px;

}

footer {
    text-align: center;
    color: white;
    font-style: italic;

}
